.search__container {
  width: 100%;
  height: 60px;

  background-color: #252525;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.search__form {
  width: 95%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;

  position: relative;
}

.search__box {
  width: 100%;
  height: 70%;
  margin-left: 25px;
  position: relative;
}

.search__result {
  position: absolute;

  left: 0;
  top: 140%;
  width: 100%;
  z-index: 10000;

  & li {

    background-color: #000000;
    color: #ffffff99;
    padding: 20px 32px;

    display: flex;
    align-items: center;

    cursor: pointer;
    transition: all .2s linear;

    &:hover {
      background-color: #1f1f1f;
    }

    &:last-child {
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    &:first-child {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
}

.preview__img {
  max-width: 48px;
  height: auto;
}

.preview__title {
  margin-left: 16px;
}

.search__logo {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 5px;
  cursor: pointer;
}

.search__input {
  width: 100%;
  height: 100%;

  padding: 0 16px 0 38px;

  background: url("./../../assets/search-light.svg") no-repeat scroll 16px;
  background-color: #ffffff29;

  border: none;
  border-radius: 50px;

  outline: none;

  color: #ffffff99;

  transition: all .2s linear;

  &::placeholder {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff99;
  }

  &:hover,
  &:focus {
    background: url("./../../assets/search-dark.svg") no-repeat scroll 16px;
    background-color: #FFFFFF;
    color: #3b3b3b;

    &::placeholder {
      color: #3b3b3b;
    }
  }
}

.search__more {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.see-more {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

@media (max-width: 500px) {
  .search__logo {
    font-size: 16px;
  }

  .search__input {
    margin-left: 5px;
  }
}
