<div class="home">
  <div class="home__header">
    <h4 class="title" *ngIf="!isSearch">
      New games
    </h4>

    <h4 class="title" *ngIf="isSearch">
      What we find
    </h4>

    <div class="sort" *ngIf="!isSearch">

      <mat-form-field appearance="fill">
        <mat-label>Order by:</mat-label>
        <mat-select [(ngModel)]="sort" panelClass="sort-select" (selectionChange)="searchGames(sort, 1); page = 1">
          <mat-option value="-name">Name</mat-option>
          <mat-option value="-released">Released</mat-option>
          <mat-option value="-added">Added</mat-option>
          <mat-option value="-created">Created</mat-option>
          <mat-option value="-updated">Updated</mat-option>
          <mat-option value="-rating">Rating</mat-option>
          <mat-option value="-metacritic">Metacritic</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>

  <div class="home__body">
    <div class="cards">

      <ng-container *ngFor="let game of games">
        <div class="card">
          <div class="card__img">
            <img *ngIf="game.background_image" src="{{ game.background_image }}">
            <img *ngIf="!game.background_image" src="https://place-hold.it/256x256&text=NoImage">
          </div>

          <div class="card__platforms">
            <img *ngFor="let plat of game.parent_platforms" class="platform"
              src="./../../assets/{{plat.platform.slug}}.svg">
          </div>
          <div class="card__name">
            <a routerLink="/details/{{game.id}}">
              {{ game.name }}
            </a>
          </div>
          <div class="card__hiden">
            <div class="card__detail">
              Release date: <span class="detail-right"> {{game.released | date: 'mediumDate' }} </span>
            </div>
            <div class="card__detail">
              Genres:
              <span class="detail-right">
                <span *ngFor="let g of game.genres; let i = index">
                  {{g.name}}{{ i === game.genres.length - 1 ? '' : ','}}
                </span>
              </span>
            </div>
            <div class="card__detail">
              Metacritic: <span class="detail-right"> {{game.metacritic}} </span>
            </div>
          </div>
        </div>
      </ng-container>


    </div>
  </div>
</div>
