.home {
  max-width: 95%;
  width: 100%;
  margin: 0 auto;

  min-height: 100vh;
}

.home__header {
  margin-top: 50px;
}

.title {
  font-size: 72px;
  font-weight: 700;
  line-height: 74px;
  text-transform: capitalize;
}

::ng-deep {

  .mat-form-field-flex {
    border-radius: 8px !important;
  }

  .mat-select-value {
    color: #FFFFFF !important;

    transition: color .2s linear;

    &:hover,
    &:active {
      color: #949494 !important;
    }

  }

  .mat-option {
    background-color: #FFFFFF !important;
    color: #000000 !important;

    transition: background-color .2s linear;

    &:hover {
      background-color: #e5e5e5 !important;
    }
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-select-arrow,
  .mat-form-field-label {
    color: #949494 !important;
  }
}

// body

.home__body {
    margin-top: 25px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  max-width: 24%;
  min-width: 300px;
  width: 100%;

  position: relative;

  background-color: #202020;

  display: flex;
  flex-direction: column;   
  flex: 1 auto;

  transition: transform .2s linear;
  
  
  &:hover {
    transform: scale(1.05);
    z-index: 10;
  }

  &:hover>.card__hiden {
    display: block;
    transform: translateY(-3px);
  }
}

.card__img {
  
  
  & img {
    display: block;
    width: 100%;
    height: 256px;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    object-fit: cover;
  }

  &:hover>.card__hiden {
    display: block;
  }
}

.card__platforms {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  padding: 0px 10px 0px 10px;

  & .platform {
    width: 16px;
    height: 16px;

    margin-top: 10px;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.card__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;

  padding: 10px;

  display: flex;
  align-items: flex-end;
  margin: auto 0 0 0;

  & a {
    transition: color .2s linear;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
      color: #949494;
    }
  }
}

.card__hiden {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;

  background-color: #202020;
  padding: 10px;

  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card__detail {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #ffffff66;

  color: #ffffff66;
  padding: 10px 0;

  &:last-child {
    border-bottom: 0px;
  }

  & .detail-right {
    max-width: 80%;
    text-align: right;
    color: #FFFFFF;
  }
  
}

// loader

.loader {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.load {
  position: relative;
  width: 100px;
  height: 100px;
  
  border: 4px solid transparent;
  border-radius: 50%;

  border-top: 4px solid #999999;
  animation: rotate 1.5s linear infinite;

  &.bottom {
    width: 65px;
    height: 65px;
  }
}

.load::before,
.load::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid transparent;
}

.load::after {
  inset: 0;
  border-bottom: 4px solid #999999;
  animation: rotate .5s linear infinite reverse;
}

.load::before {
  inset: 4px;
  border-left: 4px solid #999999;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
